<configuration scan="true" scanPeriod=" 5 seconds">
	<jmxConfigurator />
	<springProperty scope="context" name="LOG_FILE_PATH" source="logging.file.path"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="K2S-ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>taskId</Key>
			<DefaultValue>k2s</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${taskId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<File>${LOG_FILE_PATH}/${taskId}/${taskId}.log</File>
				<rollingPolicy
						class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!-- rollover daily -->
					<fileNamePattern>${LOG_FILE_PATH}/${taskId}/%d{yyyy-MM-dd}/${taskId}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<!-- or whenever the file size reaches 100MB -->
						<maxFileSize>512MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>60</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<appender name="K2S-META" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>taskId</Key>
			<DefaultValue>k2s</DefaultValue>
		</discriminator>
		<sift>
			<appender name="META-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<File>${LOG_FILE_PATH}/k2s_meta.log</File>
				<rollingPolicy
						class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!-- rollover daily -->
					<fileNamePattern>${LOG_FILE_PATH}/%d{yyyy-MM-dd}/k2s_meta-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<!-- or whenever the file size reaches 100MB -->
						<maxFileSize>32MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>60</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<logger name="com.alibaba.otter.canal.k2s" additivity="false">
		<level value="INFO" />
		<appender-ref ref="K2S-ROOT" />
		<appender-ref ref="K2S-META" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="K2S-ROOT" />
		<appender-ref ref="K2S-META" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
